<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagb.mobisagb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Cluser"
        android:allowBackup="true"
        android:icon="@drawable/ic_sagb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainSAGBActivity" />
        <activity
            android:name=".MainSAGBActivity"
            android:label="@string/app_sagb"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".insemination.InsemArtificielActivity"
            android:label="isem"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ControleLaitActivity"
            android:label="@string/title_activity_controle_lait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".insemination.TravelBarActivity"
            android:parentActivityName=".MainSAGBActivity" />
        <activity
            android:name=".IdentificationActivity"
            android:label="@string/title_activity_identification"
            android:parentActivityName=".MainSAGBActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sagb.mobisagb.MainSAGBActivity" />
        </activity>
    </application>

</manifest>